{% extends 'template.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

    {% if app.user and not app.user.isVerified %}
        <div class="mt-4">
            <p>Vous n'avez pas reçu l'email de confirmation ?</p>
            <a href="{{ path('app_verify_resend') }}" class="btn btn-secondary">
                Renvoyer l'email de confirmation
            </a>
        </div>
    {% endif %}
{% endblock %}

