
{% extends 'template.html.twig' %}
{% block title %}
{{ FirstName }} {{ name }}

{% endblock %}

{% block body %}

    <h1>with love from abc to {{ name}} {{FirstName }}</h1>
    <p>Bonjour techora  abc </p>
   mon url absolue est : {{ url('app_firstcontriller') }}

{% endblock %}